body {
  margin: 0;
  padding: 0;
}

.section {
  /* scroll-snap-align: center; */
  height: 100%;

  display: block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-size: 3em;
}


.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #191919;
  h1{
    text-decoration: none;
    color: white;
    font-family: 'NeueMontreal-Book';
    font-weight: 800;
    font-size: 6rem;
  }
}

.absolute{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 1;
}


.fade-in-all {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in-all.show {
  opacity: 1;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
