body {
  margin: 0;
  padding: 0;
}

.wrapperparent {
  
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.section {
  /* scroll-snap-align: center; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-size: 3em;
}
