body {
    font-family: 'NeueMontreal-Book';
  }
  .my-wrap2 {
    // position: relative;
    color: #222;
    img {
      width: 50%;
    }
  }

  .lerp-wrap2 {
    vertical-align: middle;
    line-height: 1.1;
    // transform: rotate(-45deg) translate(-50%, -50%);
  }
  .lerp-wrap2 span {
    // position:absolute;
    color: #222;
    // width:200px;
    // height:200px;
    font-size: large;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    font-size: clamp(64px, 6vw, 16vw);
}