body {
    font-family: 'NeueMontreal-Book';
    margin: 0;
    padding: 0;
  }
  .my-wrap2 {
    position: relative;
    height: 10vh;
    color: #222;
    display: grid;
    place-content: center;
  }

  .lerp-wrap2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.25rem;
    line-height: 1.1;
    // transform: rotate(-45deg) translate(-50%, -50%);
  }
  .lerp-wrap2 span {
    position:absolute;
    color: #222;
    width:200px;
    height:200px;
    font-size: large;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    font-size: clamp(64px, 6vw, 16vw);
}