body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 720px) {
  html,
  body {
    &,
    * {
      cursor: none;
    }
  }  
}

@font-face {
  font-family: 'NeueMontreal-Book';
  src: local('MyFont'), url(./fonts/PPNeueMontreal-Book.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'NeueMontreal-Bold';
  src: local('MyFont'), url(./fonts/PPNeueMontreal-Bold.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


@font-face {
  font-family: 'NeueBit-Bold';
  src: local('MyFont'), url(./fonts/PPNeueBit-Bold.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'NeueBit-Regular';
  src: local('MyFont'), url(./fonts/PPNeueBit-Regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'NeueMontreal-Italic';
  src: local('MyFont'), url(./fonts/PPNeueMontreal-Italic.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'RadioGrotesk-Regular';
  src: local('MyFont'), url(./fonts/PPRadioGrotesk-Regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'RadioGrotesk-Ultralight';
  src: local('MyFont'), url(./fonts/PPRadioGrotesk-Ultralight.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'SupplyMono-Regular';
  src: local('MyFont'), url(./fonts/PPSupplyMono-Regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}